*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.apk
/app/prod/release/*
.externalNativeBuild
release.properties
fma_upload_key.jks
fabric.properties
.idea/dictionaries/
.idea/
